@import "components/normalize.css";
$color: rgb(10, 122, 167);

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    margin: 0 auto;
    border-radius: 6px;
}

.box {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.08), 0px 2px 2px rgba(0,0,0,0.06);
    height: 100%;
}

.header {
    background: rgba(10, 122, 167, 0.1);
    color: $color;
    text-align: left;
    padding: 1% 2%;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.border {
    padding: 2%;
    border: 1px solid rgba(10, 122, 167, 0.1);
    border-radius: 6px;
    margin: 1%;
}

#file {
    text-align: center;
    cursor: pointer;
}

#icons {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3% 2%;
    position: relative;
}

.card {
    width: 200px;
    height: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.size-label {
    font-weight: 700;
    font-size: 0.7rem;
    padding: 3% 0;
}

.canvas {
    margin-bottom: 2%;
}

.link {
    width: calc(100% - 8px);
    border: 1px solid rgb(179, 179, 179);
    padding: 5% 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 700;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    cursor: pointer;
}

.link:hover {
    border-color: $color;
    color: $color;
}

#close {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #a9a9a9;
    font-weight: 300;
    margin: 2%;
}

.footer a {
    color: $color;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
}

